[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
aiohttp = "==3.6"
aiohttp_cors = "*"
click = "*"
python-geoip-geolite2 = "*"
python-geoip-python3 = "*"

asynctest = "*"
invoke = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-cov = "*"
mypy = "*"
pylint = "*"
black = "==19.3b0"
coverage = "*"
"flake8" = "*"


[requires]
python_version = "3.7"
